.cartIcon {
  font-size: 2rem;
  position: relative;
  margin-left: 1rem;
  display: inline-block;
  cursor: pointer;
  color: inherit;
}
.itemAmount {
  font-size: 1rem;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: red;
  color: white;
  right: -5px;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
